**/.dockerignore
**/.git
**/.gitignore
**/.vscode
**/.idea
**/node_modules
**/npm-debug.log
**/dist
**/coverage
**/.angular
**/cypress
**/e2e
**/test-results
**/playwright-report
**/.env
**/.env.local
**/*.log

